{% extends "base_index.html" %}

{% block content %}
  <h1 style="margin-top: 20px">Commerce Bank Homepage</h1>
  <p>This is a commerce bank webpage via django by<em> Commerce Group 2</em>!</p>
  <h2>Dynamic content</h2>
  <p>This page should be:</p>
  <ul>
    <li><strong>Composed with static bootstrap</strong></li>
    <li><strong>Be responsive (works with different page sizes)</strong></li>
    <li><strong>Work with devices of all sizes</strong></li>
    <li><strong>Look pretty</strong></li>
  </ul>
{% endblock %}