
{% extends "navbar.html" %}

{% block content %}

<div class="container-fluid">

    <h1 style="padding: 10px; background: linear-gradient(to right, #006747, #D8D8D8);">Hello {{user.username}} </h1>

</div>
<div class="container">
	<div class="d-flex justify-content-center">
		<div class="card dash">
			<div class="card-header">
				<h3 style="text-align: center;">Transaction History</h3>
			</div>
			<div class="card-body">
				<table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Balance</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in query_results %}

                            {{customer.account_id}}, {{customer.processing_date}}, {{customer.balance}}, {{customer.transaction_type}}, {{customer.amount}}, {{customer.descr}} <br>

                            {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">This has all been manually entered sample data</div>
		</div>
	</div>
</div>

{% endblock %}